@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Welcome</h2>
<p class="bigfont">
    Welcome to the Management Interface of the PMI Website, you can add ,update,delete information on this website here.
</p>
<p class="bigfont">
    Please choose the function menu upside on the orange bar to continue your operations.
</p>
<p class="bigfont">
    if you finish your operation,please click the [log out] button  to log out of administrator status.
</p>
