@model MvcApplication_CDPMI.Models.basicSetting

@{
    ViewBag.Title = "Basic";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@section AddJs{
    <script src="~/ueditor/ueditor.config.js"></script>
    <script src="~/ueditor/ueditor.all.min.js"></script>
    <script src="~/ueditor/lang/zh-cn/zh-cn.js"></script>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>公司基本信息编辑</legend>
        <ol>
            @Html.HiddenFor(o => o.id)
            <li>
                公司名称:@Html.EditorFor(o => o.CompanyName)
            </li>
            <li>
                电子邮件:@Html.EditorFor(o => o.Email)
            </li>
            <li>
                电话号码:@Html.EditorFor(o => o.Phone)
            </li>
            <li>
                联系地址:@Html.EditorFor(o => o.Address)
            </li>
            <li>
                邮政编码:@Html.EditorFor(o => o.PostCode)
            </li>
            <li>
                联系人员:@Html.EditorFor(o => o.Contact)
            </li>
            <li>
                传真号码:@Html.EditorFor(o => o.Fax)
            </li>
            <li>
                公司简介:<br />
                <script>
                    var ue = UE.getEditor('BriefIntrodction');
                </script>
                @Html.TextAreaFor(o => o.BriefIntrodction)
            </li>
        </ol>
        <p>
            <input type="submit" value="保存" />
        </p>
    </fieldset>
}

