/*global css setting*/
body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div {
    margin: 0;
    padding: 0;
}

body {
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    color: #000;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}


/*layout css setting*/
#header, #maincontent, #foooter {
    width: 100%;
}

/*header  css setting*/
#header {
    position: relative;
    padding-top: 32px;
}

img#logo {
    position: absolute;
    left: 15px;
    top: 24px;
}

#nav {
    height: 58px;
    background: #065387;
}
/*1st grade menu*/
#leftmenu {
    position: relative;
    margin-left: 310px;
    float: left;
    font-size: 150%;
    height: 58px;
}

    #leftmenu ul {
        position: relative;
    }

        #leftmenu ul li {
            float: left;
            /*fixed the 1st Li width*/
            width: 240px;
        }

            #leftmenu ul li a {
                display: block;
                height: 58px;
                line-height: 58px;
                color: #fff;
                padding-left: 10px;
            }

            #leftmenu ul li:hover a {
                background-color: #022E4C;
            }

            #leftmenu ul li:hover ul {
                visibility: visible;
            }

            /*2rd grade menu*/
            #leftmenu ul li ul {
                visibility: hidden;
            }

                #leftmenu ul li ul li {
                    float: none;
                    /*set the 2rd ul width*/
                    width: 300px;
                }

                    #leftmenu ul li ul li a {
                        text-align: left;
                        font-size: 80%;
                    }

                        #leftmenu ul li ul li a:hover {
                            background-color: #044C7D;
                            color: white;
                        }





/*maincontent css setting*/
#maincontent {
    height: 300px;
    background: orange;
}
/*footer css setting*/
#footer {
    height: 100px;
    background: green;
}
