@{
    ViewBag.Title = "联系我们";
}
@section AddToHead{
    <link href="~/Content/contact.css" rel="stylesheet" type="text/css" />
}
<div class="float-left">
    <div class="left-menu">
        <h5>相关信息</h5>
        <ul>
            <li>@Html.ActionLink("关于我们", "About", "Home", new { id = 1 }, null)</li>
            <li>@Html.ActionLink("在线留言", "FeedBack","Home")</li>
        </ul>
    </div>
</div>
<div class="float-left right-content">
    <h2>联系我们</h2>
    <p>
        <img src="~/Images/cdpmi/contactus.jpg" alt="contactus" id="imgcontactus"/>
    </p>
    <p><b>我公司的联系方式如下：</b></p>
    @Html.Action("GetContactsView")
    <p id="feedbacklink">@Html.ActionLink("在线留言", "FeedBack", "Home")</p>
    <p><b>我公司在地图上的具体位置：</b></p>
    <p>
        <img src="~/Images/cdpmi/googlemap.png" alt="map" id="imggooglemap" />
    </p>
</div>