@{
    ViewBag.Title = "主页";
}
@* 添加主页的特有的CSS *@
@section AddToHead{
    <link href="~/Content/homeIndex.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/js/MainSlider.js"></script>
}


@section featured {
    <section class="featured">
        <div id="ad">
            @* 这是幻灯广告的图片部分 *@
            <ul class="slider">
                <li><img src="~/Images/cdpmi/slider1.jpg" alt="slider1" /></li>
                <li><img src="~/Images/cdpmi/slider2.jpg" alt="slider2" /></li>
                <li><img src="~/Images/cdpmi/slider3.jpg" alt="slider3" /></li>
                <li><img src="~/Images/cdpmi/slider4.jpg" alt="slider4" /></li>
                <li><img src="~/Images/cdpmi/slider5.jpg" alt="slider5" /></li>
                <li><img src="~/Images/cdpmi/slider6.jpg" alt="slider6" /></li>
            </ul>
            @* 这是幻灯广告的数字组 *@
            <ul class="num">
                <li class="selected">1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
            </ul>
        </div>
    </section>
}
<div class="bgwhite">
    <h3 class="indexcontenttitle">先锋材料(Pioneer Materials)</h3>
    <ol class="round">
        <li class="one">
            <h3>公司简介</h3>
            成都先锋材料有限公司是美国先锋材料股份有限公司(Pioneer Materials Inc.)于2008年在成都投资注册的独资公司，
            目前注册资本金为400万美元。公司拥有一批高水平的技术骨干人员，集研发和生产于一体，主要开发和生产用于新
            型半导体芯片，薄膜太阳能电池，热电转换设备，光学存储和涂层等新兴技术领域的材料产品。是国家认定的高新
            技术企业，并已取得ISO9001质量体系及ISO14001环境体系认证。<br />
            本公司靶材产品技术含量高，附加值高，并且产品大多用于出口。
            <a href="~/Home/About/1" style="color:blue;text-decoration:underline">More</a>
        </li>

        <li class="two">
            <h3>公司优势</h3>
            我们生产的各类靶材产品具有密度高，成分准，纯度高，加工精准等特点。<br />
            同时，我们还提供各类靶材的Bonding服务和检测服务。
        </li>

        <li class="three">
            <h3>联系我们</h3>
            @* 这里的联系方式用部分视图显示 *@
            @Html.Action("GetContactsView")
            <p id="feedbacklink">@Html.ActionLink("在线留言", "FeedBack", "Home")</p>
        </li>
    </ol>
</div>
