@{
    //ViewBag.Title = "AboutPMI";
}
<h2>@ViewBag.Title</h2>
<!--here will be removed later-->
<img src="~/Images/upload/image/20141029/6355018410200952825399988.jpg" alt="PMI" />
<div>
    @Html.Raw(ViewBag.Content)
</div>