@{
    //ViewBag.Title = "FeedbackSuccess";
}
@section AddToHead{
    <link href="~/Content/maindisplay.css" rel="stylesheet" type="text/css" />
}
<h2>@ViewBag.Title</h2>
<div id="maindisplayarea">
    <h3>Feedback Successfully</h3>
</div>
<a href="~/Home/Index" class="btnreturn">Return Home Page</a>