@{
    ViewBag.Title = "Index";
}
@section AddToHead{
    <link href="~/Content/homeindex.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/js/slide.js"></script>
}
@section Slide{
    <!--slide part-->
    <div id="mainslide">
        <ul id="slide">
            <li><img src="~/Images/pmi/slider1.jpg" alt="slide1" /></li>
            <li><img src="~/Images/pmi/slider2.jpg" alt="slide2" /></li>
            <li><img src="~/Images/pmi/slider3.jpg" alt="slide3" /></li>
            <li><img src="~/Images/pmi/slider4.jpg" alt="slide4" /></li>
            <li><img src="~/Images/pmi/slider5.jpg" alt="slide5" /></li>
            <li><img src="~/Images/pmi/slider6.jpg" alt="slide6" /></li>
        </ul>
        <ul id="slidenav">
            <li class="selected">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
        </ul>
    </div>
}
<!--about PMI section-->
<div class="textbox">
    <h1>About PMI</h1>
    <p>
        Pioneer Materials Inc, (PMI) was incorporated in 1998 to address the burgeoning demand for the opto-electronic materials markets.PMI was founded by veterans from the semiconductor, magnetic recor
        optical recording and target industries focusing on high performance materials applications.
        PMI is focusing on advanced semiconductor compounds for energy harvesting applications (thin-film solar & thermo-electrics). Using unique processing technology, PMI can process consistent quantities
        of difficult to manufacture compounds at high purities.
    </p>
</div>
<!--category section-->
<div id="pcategorylist">
    <div class="pcategory floatleft">
        <img src="~/Images/pmi/VP.png" alt="VP" />
        <h3>Photo-voltaics</h3>
        <p>Photo-voltaicsPhoto-voltaicsPhoto-voltaicsPhoto-voltaicsPhoto-voltaicsPhoto-voltaicsPhoto-voltaics</p>
        <a href="#">More About PV</a>
    </div>
    <div class="pcategory floatleft">
        <img src="~/Images/pmi/TE.png" alt="VP" />
        <h3>Photo-voltaics</h3>
        <p>Photo-voltaicsPhoto-voltaicsPhoto-voltaicsPhoto-voltaicsPhoto-voltaicsPhoto-voltaicsPhoto-voltaics</p>
        <a href="#">More About PV</a>
    </div>

    <div class="pcategory floatleft clearmargin">
        <img src="~/Images/pmi/PCM.png" alt="VP" />
        <h3>Photo-voltaics</h3>
        <p>Photo-voltaicsPhoto-voltaicsPhoto-voltaicsPhoto-voltaicsPhoto-voltaicsPhoto-voltaicsPhoto-voltaics</p>
        <a href="#">More About PV</a>
    </div>
    .<div class="pcategory floatright ">
        <img src="~/Images/pmi/others.png" alt="VP" />
        <h3>Photo-voltaics</h3>
        <p>Photo-voltaicsPhoto-voltaicsPhoto-voltaicsPhoto-voltaicsPhoto-voltaicsPhoto-voltaicsPhoto-voltaics</p>
        <a href="#">More About PV</a>
    </div>
</div>