.table100 {
    width: 100%;
}

.trunderline {
    border-bottom: 1px dotted #333;
}

.tdcenter {
    text-align: center;
}

.tableallborder {
    border-collapse: collapse;
}

    .tableallborder td {
        border: 1px solid #CCC;
    }
