/*设置超链接的格式*/
.newitemlink{
    padding:8px;
    display:block;
    width:100%;
}
.newitemlink span{
  display:block;
  float:right;
  padding-right:10px;
}
.newitemlink:hover{
    /*border-bottom:1px dotted #333;*/
}