.right-content ul li {
    float: left;
}

    .right-content ul li a {
        display: block;
        margin: 5px 5px 5px 0;
        padding: 5px;
        text-align: center;
    }

        .right-content ul li a img {
            /*使用的照片是880X660大小的，确保体积在100k以下*/
            height: 165px;
            width: 220px;
        }

        .right-content ul li a:hover {
            background-color: #333;
            color: #fff;
        }
