@{
    ViewBag.Title = "_Admin";
    //must have it
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section AddToHead{
    <link href="~/Content/admin.css" rel="stylesheet" type="text/css" />
}
<div id="adminmenu">
    <ul>
        <li>
            <a href="#">CategoryEdit</a>
        </li>
        <li><a href="#">ProductEdit</a></li>
        <li><a href="#">AboutPMIEdit</a></li>
        <li><a href="#">ContactEdit</a></li>
    </ul>
</div>
<div id="maindisplay" class="css">
    @RenderBody()
</div>