
@{
    ViewBag.Title = "Success~";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<h2>@ViewBag.Title</h2>
<p class="bigfont">You action is successful!</p>
<p class="bigfont">Click the top menu to continue or log out the administrator status</p>